In [142]:
%pylab inline
from sklearn import \
        datasets, \
        linear_model, \
        cross_validation, \
        preprocessing, \
        svm

import pandas as pd
import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

In [147]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [144]:
df_train = df_train.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)
df_test = df_test.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1)

df_train = df_train.replace(['S','Q','C'], [0,1,2])
df_train = df_train.replace(['male', 'female'], [0,1])
df_train = df_train.fillna(0)

df_test = df_test.replace(['S','Q','C'], [0,1,2])
df_test = df_test.replace(['female', 'male'], [0,1])
df_test = df_test.fillna(0)

In [145]:
train = df_train.as_matrix()
test = df_test.as_matrix()

X_train = train[:620,1:]
Y_train = train[:620, 0]

X_test = train[621:,1:]
Y_test = train[621:,0]

In [146]:
cls = linear_model.LogisticRegression()
cls.fit(X_train,Y_train)
cls.score(X_test,Y_test)

0.78148148148148144

In [66]:
df_train = df_train.drop(['Embarked', 'Sex'], axis=1)
df_test = df_test.drop(['Embarked', 'Sex'], axis=1)

In [67]:
train = df_train.as_matrix()
test = df_test.as_matrix()

X_train = train[:620,1:]
Y_train = train[:620, 0]

X_test = train[621:,1:]
Y_test = train[621:,0]

In [68]:
cls = linear_model.LogisticRegression()
cls.fit(X_train,Y_train)
cls.score(X_test,Y_test)

0.74814814814814812